/* colors */
:root{
    --color-primary-dark:  #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-dark:    #465929;
    --color-brand-light:   #819B57;
}
/* colors */
/* base */
body{
    color: var(--color-primary-dark);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
.container{
    max-width: 1270px;
    padding: 0 15px;
    margin:  0 auto;
}
h1, h2, h3, h4, h5, h6, ul, p{
    padding: 0;
    margin-top: 0;
}
ul{
    list-style-type: none; 
}
address{
    font-style: normal;
}
.brand{
    color: var(--color-brand-light);
}
.visually-hidden{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
/* base */
/* section */
.section{
    padding: 48px 0;
}
.section-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3; 
}
.section-title .accent{
    color: var(--color-brand-dark);
}
/* section */
/* link */
.link{
    text-decoration: none;
    color: var(--color-primary-light);
    line-height: 1.5;
}
.link:hover{
    color: var(--color-brand-light);
}
/* link */
/* button */
.button{
    width: 238px;
    height: 59px;
    background: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    color: var(--color-primary-light);
    font-weight: 600;
    cursor: pointer;
}
.button:hover{
    color: var(--color-primary-light);
    background: transparent;
}
/* button */
/* header */
.header{
   background: var(--color-brand-dark); 
}
.header-container{
    padding: 15px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}
.header-menu{
    margin-bottom: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 64px;
}
.header-item{
    
}
/* header */
/* section hero */
.hero{
    padding: 272px 0;
}
.hero-title{
    margin-bottom: 0;
    color: var(--color-primary-light);
    font-size: 128px;
    font-weight: 900;
    text-align: center;
}
.hero-title .accent{
    color: var(--color-brand-light);
}
/* section hero */
/* section advantage */
.advantage{
    padding: 16px 0;
    background: var(--color-brand-light);
}
.advantage-list{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.advantage-item{
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}
/* section advantage */
/* section tradition */
.tradition{
    padding-top: 96px;
}
.tradition-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.tradition-content{
    max-width: 694px;
}
.tradition-title{
    margin-bottom: 42px;
}
.tradition-text .uppercase{
    text-transform: uppercase;
}
.tradition-text.limit{
    max-width: 340px;
}
.tradition-img{

}
/* section tradition */
/* section chef */
.chef{

}
.chefs-title{
    margin-bottom: 80px;
    text-align: center;
}
.chef-title{
    margin-bottom: 16px;
}
/* section chef */
/* section format */
.format{

}
.formats-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.formats-item{
    flex-basis: calc((100% - 40px) / 3);
}
.format-card{
    padding: 24px;
    border: 2px solid #465929;
    border-radius: 16px;
}
.formats-title{
    margin-bottom: 80px;
    text-align: center;
}
/* section format */
/* section contact */
.contact{

}
.contacts-title{
    margin-bottom: 16px;
    text-align: center;
}
/* section contact */
/* section footer */
/* section footer */

