:root{
    --color-primary-dark:  #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-dark:    #465929;
    --color-brand-light:   #819B57;
    
}
/* base */
body{
    color: var(--color-primary-dark);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
.container{
    max-width: 1270px;
    padding: 0 15px;
    margin:  0 auto;
}
h1, h2, h3, h4, h5, h6, ul, p{
    padding: 0;
    margin-top: 0;
}
ul{
    list-style-type: none; 
}
.visually-hidden{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
address{
    font-style: normal;
}
.section{
    padding: 48px 0;
}
.accent{
    color: var(--color-brand-light);
}
/* link */
.link{
    color: var(--color-primary-light);
    line-height: 1.5;
}
.link:hover{
    color: var(--color-brand-light);
}
/* button */
.button{
    width: 238px;
    height: 59px;
    background: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    color: var(--color-primary-light);
    font-weight: 600;
    cursor: pointer;
}
.button:hover{
    color: var(--color-primary-light);
    background: transparent;
}
/* header */
.header{
    background: var(--color-brand-dark);
}
.header-container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
}
.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.header-menu{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 64px;
}
/* end header */
/* hero-section */
.hero{
    background: url('../images/bg-hero.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 272px 0;
}
.hero-title{
    color:  var(--color-primary-light);
    font-size: 128px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0;
}
.hero-title .accent{
    color: var(--color-brand-light);
}
/* end hero-section */