.rotated {
    transform: rotate(180deg);
}
.transition-all{
    transition: all 0.3s;
}
.text-limit1320{
    max-width: 320px;
}
.text-limit230{
    max-width: 230px;
}
.text-limit219{
    max-width: 219px;
}
.text-limit176{
    max-width: 176px;
}
