:root{
    --color-primary-dark:       #31261A;
    --color-primary-light:      #FAF4EA;
    --color-secodary-line:      #CFCFBC;
    --color-secondary-light:    #A18268;
    --color-brand-dark:         #465929;
    --color-brand-light:        #819B57;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;