.button{
    width: 238px;
    height: 59px;
    display: block;
    background: var(--color-brand-light);
    color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;
    &:hover{
        background: transparent;
    }
    &__call {
        &:hover {      
            color: var(--color-brand-light);
        }
    }
}  