.input{
    position: relative;
    &__label{
        position: absolute;
        top: 16px;
        left: 42px;
        color: var(--color-secondary-light);
        font-size: 16px;
        line-height: 1.17;
    }
    &__control{
        padding: 8px 24px;
        width: 100%;
        border: 1px solid var(--color-secondary-light);
        background: transparent;
        border-radius: 8px;
        &:focus{
            border-color: var(--color-brand-light);
            outline: none;
        }
        &::placeholder{
            color: var( --color-secondary-light);
            font-size: 16px;
            line-height: 1.17;
        }
        &:focus::placeholder{
            color: var(--color-brand-dark);
        }
    }
}

@media screen and (min-width: $bp-tablet) {
    .input{
        &__control{
            padding: 16px 42px;
            

        }
    }
}