.advantages{
    padding: 16px 0;
    background-color: var(--color-brand-light);
    &__list{
        margin-bottom: 0;
        color: var(--color-primary-light);
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }
    &__item{
        font-size: 20px;
        font-weight: 300;
    }
}