
.contact{
    padding-bottom: 96px;
    &__container{
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }
    &__title{
        width: 94%;
        margin-bottom: 16px;
    }
    &__text{
        margin-bottom: 42px;
    }
    &__form-field{
        margin-bottom: 24px;
    }
    &__button{
        margin: 0 auto 16px;
    }
    &__map{
        flex-shrink: 0;
        border: none;
    }
}
