.header{
    padding-top: 16px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &__container{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 15px;
    }
    &__nav{
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    &__menu{
        display: none;
    }
    &__button{
        display: none;
    }
    &__burger{
        padding: 0;
        width: 24px;
        height: 24px;
        border: none;
        background: transparent;
        fill: var(--color-primary-light);
    }
}

@media screen and (min-width: $bp-tablet) {
    .header{
        padding-top: 32px;
        &__menu {
            display: flex;
            flex-grow: 1;
            gap: 64px;
            justify-content: center;
        }
        &__burger {
            display: none;
        }
    }
}

@media screen and (min-width: $bp-desktop){
    .header {
        &__button{
            display: block;
        }
        &__burger{
            display: none;
        }
    }
}
