.traditions{
    padding-top: 96px;
    &__container{
        display: flex;
        gap: 20px;
    }
    &__content{
        max-width: 710px;
    }
    &__title{
        margin-bottom: 42px;
    }
    &__text{
        &--limit-340{
            max-width: 340px;
        }
        &--limit-600{
            max-width: 600px;
        }  
    }
    &__images{
        border-radius: 400px 400px 0 0;
    }
}